.plus-button{
    background: linear-gradient(135deg, #2c49c8, #3f98d3);
    color: white;
    position: relative; 
    margin:  12px 0;
}
.wrap-report{
    padding: 5px 5px 10px 30px;
    position :relative;
    margin-top: 20px;
}