.banner {
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 10px;
  }
  
  .banner-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .banner-text {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2vw; /* Sử dụng đơn vị vw để padding thích ứng */
    width: 70%; /* Chiều rộng của khung theo phần trăm */
    max-width: 1100px; /* Giới hạn chiều rộng tối đa */
    border-radius: 8px;
    text-align: center;
    box-sizing: border-box; /* Đảm bảo padding không ảnh hưởng đến chiều rộng */
  }
  
  .banner-text h1 {
    font-size: 2vw; /* Kích thước chữ tùy thuộc vào chiều rộng màn hình */
    margin: 0;
  }
  
  .banner-text h2 {
    font-size: 2vw; /* Kích thước chữ tùy thuộc vào chiều rộng màn hình */
    margin: 5px 0 0;
  }
  
/* NotificationTable.css */

/* Container */
.notification-container {
    padding: 1.5rem;
}
.ant-modal-title {
    text-align: center;
    font-weight: bold;
    font-size: 5rem;
}
/* Button for Adding Notification */
.add-notification-btn {
    background-color: #1890ff;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-notification-btn:hover {
    background-color: #096dd9;
}

/* Table */
.notification-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    background-color: #fff;
}

.notification-table th,
.notification-table td {
    padding: 0.75rem;
    border: 1px solid #d1d5db; /* Tailwind's gray-300 */
}

.notification-table th {
    background-color: #fff; /* Tailwind's gray-100 */
    text-align: center;
    font-weight: bold;
}
.title-Notification{
    font-weight: bold;
}
.notification-table td {
    text-align: left;
}
.notification-table td {
    text-align: left;
}


/* Edit and Delete Buttons */
.btn-edit,
.btn-delete {
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-edit {
    background-color: #60a5fa; /* Tailwind's blue-400 */
    color: white;
}

.btn-edit:hover {
    background-color: #3b82f6; /* Tailwind's blue-500 */
}

.btn-delete {
    background-color: #f87171; /* Tailwind's red-400 */
    color: white;
}

.btn-delete:hover {
    background-color: #ef4444; /* Tailwind's red-500 */
}
