.wrapper-history{
    padding: 5px 5px 10px 30px;
    margin-top: 20px;
    /* width: 100%; */
    /* max-width: 100%; */

}
.table-list-info{
    margin-top: 10px;
    background-color: white;
    border-collapse: collapse;
    text-align: center;
}
.table-list-info td{
    border-bottom:  1px solid #337ead;

}

.table-list-info tr td{
    height: 79px;
    width: 12vw;
    justify-content: center ;
}

.table-list-info .status-info{
    border-radius: 10px;
    height: 100%;
    width: 100%;
    align-content: center;
}



.table-list-info .status-pending{
    background-color: #d4a564;
    padding: 8px 10px;
    border-radius: 10px;
}

.table-list-info .status-done{
    background-color: #60bc69;
    padding: 8px 10px;
    border-radius: 10px;
}

